:root {
  --font: "Jost";
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
}

.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(68, 50, 151);
}

.navbar_frame .container {
  padding: 20px 0px 14px;
  flex-direction: column;
}

.navbar_frame .navbar_top {
  width: 1320px;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_top > a img {
  margin-right: 76px;
  width: 117px;
  height: 36px;
}

.navbar_frame .navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffff;
  border-radius: 6px;
}
.navbar_top .search_box {
  padding: 17px 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_box_ .categorie_list {
  width: 166px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}

.categorie_list select {
  width: 140px;
  height: 30px;
  border: none;
  outline: none;

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;

  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.nav_search_frame .search_icon_box {
  margin-left: auto;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 6px 6px 0px;

  background: rgb(245, 195, 75);
}
.search_icon_box img {
  width: 20px;
  height: 20px;
}
.navbar_top .navbar_menu_top {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_menu_top .menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.menu_box .box_icon_box {
  position: relative;
  margin-right: 16px;
  width: 54px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.box_icon_box img {
  width: 22px;
  height: 22px;
}

.menu_box .text_box {
  display: flex;
  flex-direction: column;
}

.text_box span {
  font-family: var(--font);
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
}

.text_box strong {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
}
.menu_box .box_icon_box .backet_count {
  position: absolute;
  width: 15px;
  height: 15px;
  right: -3px;
  top: -2px;
  background: rgb(245, 195, 75);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font);
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_bottom {
  margin-top: 20px;
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar_bottom .nav_menu_bott_box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}

.nav_menu_bott_box .browse_box {
  margin-top: 10px;
  width: 185px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.browse_box span {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
}

.nav_menu_bott_box .navbar_route_menu {
  margin-left: 12px;
  width: 690px;
  display: flex;
  flex-direction: row;
}

.navbar_route_menu .route_menu {
  margin-top: 10px;
  margin-right: 20px;
  width: auto;
  height: 41px;
  display: flex;
}

.route_menu a {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
}

.route_menu a.active {
  color: #f5c34b;
}

.nav_menu_bott_box .sorting_menu {
  display: flex;
  flex-direction: row;
}

.sorting_menu span {
  margin-top: 10px;
  margin-right: 20px;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
  color: rgb(255, 255, 255);
}

/* FOOTER */

.footer_frame {
  position: relative;
  padding: 90px 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(243, 245, 246);
}

.footer_frame .footer_spec_title {
  margin-bottom: 30px;
  font-family: var(--font);
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;

  color: rgb(4, 30, 66);
}

.footer_frame .container {
  flex-direction: column;
}

.footer_frame .container .footer_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_frame .footer_top .footer_contact_box {
  display: flex;
  flex-direction: column;
}

.footer_frame .footer_contact_box .footer_contact_main {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.footer_frame .footer_contact_main img {
  width: 35px;
  height: 30px;
}

.footer_frame .footer_contact_main div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.footer_frame .footer_contact_main strong {
  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  color: rgb(4, 30, 66);
}

.footer_frame .footer_contact_main span {
  margin-top: 10px;
  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  color: rgb(4, 30, 66);
}

.footer_frame .footer_support_box {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}

.footer_frame .footer_support_box a {
  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;

  color: rgb(4, 30, 66);
}

.footer_frame .footer_media_box {
  margin-left: 55px;
  display: flex;
  flex-direction: column;
}

.footer_frame .footer_media_box .footer_media_main {
  display: flex;
  flex-direction: column;
}

.footer_frame .footer_media_main .media_box {
  display: flex;
  flex-direction: row;
}

.footer_frame .media_box i {
  margin-right: 25px;
}

.footer_frame .footer_media_main .mobile_app_box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_frame .mobile_app_box img {
  width: 24px;
  height: 16px;
}

.footer_frame .mobile_app_box span {
  margin-left: 20px;

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;

  color: rgb(4, 30, 66);
}

.footer_frame .footer_media_main .card_box {
  width: 272px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_frame .card_box img {
  margin-bottom: 30px;
}

.footer_frame .container .footer_bottom {
  margin-top: 90px;
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-top: 1px solid rgb(234, 234, 234);
}

.footer_frame .footer_bottom .footer_main {
  width: 100%;
  height: auto;
}

.footer_frame .footer_bottom .footer_main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_frame .footer_main .footer_bottom_left {
  width: 940px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_frame .footer_bottom_left span {
  margin-right: 60px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;

  color: rgb(4, 30, 66);
}

.footer_frame .footer_main .footer_bottom_right {
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_frame .footer_bottom_right .footer_select_box {
  padding: 10px 20px;
  width: 180px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  background: rgb(255, 255, 255);
}

.footer_frame .footer_select_box span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;

  color: rgb(98, 105, 116);
}

.footer_frame .footer_select_box select {
  margin-right: 20px;
  width: 70px;
  height: 90%;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;

  color: rgb(4, 30, 66);
}

/* PAGE ROUTER */

.page_router {
  margin: 20px 0px;
  width: 1320px;
}

.page_router span {
  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  color: rgb(4, 30, 66);
  font-weight: 400;
  line-height: 22px;

  color: rgb(4, 30, 66);
}

.page_router span.drop {
  margin: 0px 10px;
}
